/*Text matches the following styles:
Default text is Lucida Grande font with a sans-serif as a fallback option.
Header 1 is 64px, centered
Header 2 is 30px, with grey (#808080) drop shadow that is 
offset 5px horizontally, 5px vertically, and 2px blur
Paragraphs use 24px font and have 20px padding on the top only
All text is white on a black background
Images match the following styles:
All images are on their own line
All images are centered 
All images are 525px wide with proper aspect ratio 
(they are not warped or stretched)
All divs must be at least 150px tall 
(but will automatically be taller if needed) with 25px padding on all sides.
Red div has the following styles:
Background color is red
Text is aligned on the right side 
Blue div has the following styles
a.     Background color is blue
b.     Text is aligned on the left side
Yellow div has the following styles
a.     Background color is yellow
b.     Text is aligned on the right side
c.     Header 2 and paragraph text is black
d.     Header 2 drop shadow is #c7e2c7 with the same parameters as above
Green div has the following styles
a.     Background color is green
b.     Text is aligned on the left side
Footer text is right-aligned with 10px padding on the bottom and right only
Code is uploaded your GitHub account using in a repository named homework2.  
The link to your code must be <your-user-name>.github.io/homework2
*/
body{
	font-family: Lucida Grande,sans-serif;
	background-color: 	#000000;
	color: #FFFFFF;
}
/*
  ========================================
  Typography
  ========================================
*/
h1{
	font-size: 64px;
	text-align: center;
}
h2{
	font-size: 30px;
	text-shadow: 5px 5px 2px #808080;
}
p{
	font-size: 24px;
	padding-top: 20px;
}
img{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 525px;
}
div{
	min-height: 150px;
	padding: 25px;
}
#red{
	background-color: #ff0000;
	text-align: right;
}
#blue{
	background-color: #0000ff;
	text-align: left;
}
#yellow{
	background-color: #ffff00;
	text-align: right;
}
#yellow p {
	color:	#000000;
}
#yellow h2{
	text-shadow: 5px 5px 2px #c7e2c7;
	color: 	#000000;
}
#green {
	background-color: #008000;
	text-align:left;
}
footer{
	text-align: right;
	padding-bottom: 10px;
	padding-right: 10px;
}